<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
    <meta property="og:title" content="Draw" />
    <meta property="og:type" content="image" />
    <meta property="og:url" content="https://draw.cripplerick.com/create/" />
    <meta property="og:image" content="<%= imgUrl %>" />
    <link rel="stylesheet" href="image.css">
</head>

<body>
    <img src="<%= img %>" alt="" width="<%= settings.size %>" height="<%= settings.size %>" />
</body>

</html>