<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
    <meta property="og:title" content="Draw" />
    <meta property="og:type" content="image" />
    <meta property="og:url" content="https://27e846cb8695.ngrok.io/" />
    <meta property="og:image" content="<%= imgUrl %>" />
    <link rel="stylesheet" href="image.css">
    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//172.22.0.2/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->

</head>

<body>
    <img src="<%= img %>" alt="" width="<%= settings.size %>" height="<%= settings.size %>" />
</body>

</html>